/* line 5, ../sass/vendor/_meyer-reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 14, ../sass/vendor/_meyer-reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 17, ../sass/vendor/_meyer-reset.scss */
body {
  line-height: 1;
}

/* line 20, ../sass/vendor/_meyer-reset.scss */
ol, ul {
  list-style: none;
}

/* line 23, ../sass/vendor/_meyer-reset.scss */
blockquote, q {
  quotes: none;
}

/* line 27, ../sass/vendor/_meyer-reset.scss */
blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 33, ../sass/vendor/_meyer-reset.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 38, ../sass/vendor/_meyer-reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 15, ../sass/master.scss */
html, body {
  background: #f0e4c9;
  font: normal 14pt Helvetica, sans-serif;
  width: 100%;
  height: 100%;
}

/* line 22, ../sass/master.scss */
p, a {
  font: normal 16px "Libre Baskerville", "Times New Roman", sans-serif;
  line-height: 1.5;
}

/* line 26, ../sass/master.scss */
a {
  text-decoration: none;
}

/** 
 * Header / first panel 
 *************************/
/* line 33, ../sass/master.scss */
header {
  background: #f76e50;
  color: #FFF;
  height: 500px;
}

/* line 38, ../sass/master.scss */
header .block {
  float: left;
  height: 100%;
}

/* line 42, ../sass/master.scss */
header .brand {
  background: #ced7a4;
  width: 400px;
  overflow: hidden;
}

/* line 47, ../sass/master.scss */
.brand img {
  width: 500px;
  max-height: 650px;
  position: fixed;
}

/* line 52, ../sass/master.scss */
header .intro {
  height: 100%;
  width: 100%;
  position: absolute;
}

/* line 57, ../sass/master.scss */
.intro-text {
  background: #f76e50;
  border-top: 10px solid #f38647;
  margin: 0 0 0 400px;
  padding: 80px;
  height: 330px;
}

/* line 64, ../sass/master.scss */
.intro-text p {
  padding: 20px 100px 0 60px;
  font-size: 20px;
  max-width: 1000px;
}

/* line 73, ../sass/master.scss */
.intro-text h2 {
  padding: 0 0 5% 0;
}

/* line 76, ../sass/master.scss */
header h2 {
  font: normal 150% "Libre Baskerville", "Times New Roman", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/****************************
 * Navigation
 ****************************/
/* line 85, ../sass/master.scss */
nav {
  float: right;
}

/* line 88, ../sass/master.scss */
nav.fixed {
  position: fixed;
  top: 0;
  right: 0;
}

/* line 93, ../sass/master.scss */
nav li {
  float: left;
  padding: 10px 20px;
}

/****************************
 * Body
 ****************************/
/* line 102, ../sass/master.scss */
.container {
  height: 1000px;
}

/*****************************
 * Utility
 *****************************/
/* line 112, ../sass/master.scss */
.fl {
  float: left;
}

/* line 115, ../sass/master.scss */
.fr {
  float: right;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 128, ../sass/master.scss */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 134, ../sass/master.scss */
.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 142, ../sass/master.scss */
.cf {
  *zoom: 1;
}

@media (max-width: 1120px) {
  /* line 147, ../sass/master.scss */
  header {
    height: 300px;
  }

  /* line 150, ../sass/master.scss */
  header .brand {
    width: 200px;
  }

  /* line 153, ../sass/master.scss */
  .brand img {
    width: 300px;
  }

  /* line 156, ../sass/master.scss */
  .intro-text {
    margin: 0 0 0 200px;
    padding: 20px 40px 0 40px;
    height: 270px;
  }

  /* line 161, ../sass/master.scss */
  .intro-text h2 {
    padding: 0 0 0 0;
  }

  /* line 164, ../sass/master.scss */
  .intro-text p {
    font-size: 14px;
    padding: 20px 0 0 40px;
  }
}
