
$font-size: 14pt;
$accent-color: #f76e50;
$secondary-color: #f38647;
$background-color: #FFF; /*#f0e4c9;*/
$intro-panel-size: 570px;
$default_logo_size: 455px;
$logo_offset: -850px;
$padding: 20px;
$header-height: 50px;
$nav-color: #041B29; 
$title-size: 48px;
$container-size: 1024px;

$font-stack: "Droid Sans", Helvetica, sans-serif;
$serif-stack: "Libre Baskerville", "Times New Roman", sans-serif;

@import 'vendor/meyer-reset';

html, body {
    font: normal $font-size $font-stack;
    width: 100%;
    height: 100%;
}

p, a {
    font: normal 16px $serif-stack;
    line-height: 1.5;
}
p {
    margin: 0 0 20px 0;    
}
a {
    text-decoration: none;
}
strong {
    font-weight: bold;
}

/** 
 * Header / first panel 
 *************************/
 #identity {
    color: #FFF;
    font: bold 24px $font-stack;
    text-transform: uppercase;
    line-height: $header-height;
    padding: 0 20px;
 }
.intro-panel {
    color: #FFF;  
    height: $intro-panel-size;
    z-index: -1;
}
header {
    padding-top: $header-height;
}
header .block {
    float: left;
    height: 100%;
}
header .brand {
    background: url('../images/bg-sd.jpg') 75%;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.brand img {
    width: $default_logo_size;
    max-height: 650px;
    margin-left: $logo_offset;
    position: fixed;
        top: $header-height;
        left: 50%;
    z-index: -11;
}
header .intro {
    height: auto;
    position: absolute;
}
.intro-text {
    background: url('../images/bg-geo2.png') $accent-color;
    border-bottom: 15px solid $accent-color;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1) inset;     
    padding: 20px;
    height: 220px;
}
.intro-text h1 {
    text-shadow: 0 0 3px rgba(0,0,0,0.2);
    font: bold 64px $serif-stack;
}
.icon-large {
    display: block;
    margin: auto;
    width: 120px;
}
.skill-box-container {
    height: 180px;
    background: #193a4d;    
    text-align: center;    
    text-transform: uppercase;
    width: 100%;
}
.skill-box-container, .about-text {
    height: 100%;
}
.about-text {
    padding: 35px 20px 0 20px;
}
.skill-box {
    padding: 20px 0 20px 0;
    width: 341px;
}
.skill-box-container h1 {
    border-bottom: 1px solid $nav-color;
    color: $accent-color;
    font: normal 11px $font-stack;
    letter-spacing: 2px;
    padding: 30px 0 20px 0;
    margin: 0 0 20px 0;
}
.skill-box h2 {
    display: inline;
    color: #CCC;
    font: normal 13px $font-stack;
    line-height: 5;
}
.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid $accent-color;    
    margin: 0 auto;
}
// .arrow-down.blue {
//     border-top: 20px solid #193a4d;      
// }

/****************************
 * Navigation
 ****************************/
nav {
    background: $nav-color;
    height: $header-height;
    opacity: 0.9;
    position: fixed;
        top: 0;
    width: 100%;
    z-index: 10;
}
nav ul a {
    color: #FFF;
    display: inline-block;
    height: 100%;
    line-height: $header-height;
    font: normal 16px $serif-stack;
    padding: 15px 30px;
    text-transform: lowercase;    
}
.mailto {
    background: url('../images/icon/icon-mail.png');
    height: 36px;
    width: 49px;
    margin: 6px;

}
.mailto:hover {
    background: url('../images/icon/icon-mail-hover.png');
}
.email-box {
    background: transparent;
    border: 0;
    color: #EEE;
    height: 50px;
    font: normal 18px $font-stack;
    line-height: 50px;
    outline: none;
    resize: none;
    width: 200px;
}
nav.fixed {
    position: fixed;
        top: 0;
        right: 0;
}
nav ul {
    width: 400px;
}
nav li {
    float: left;
}

/****************************
 * Body
 ****************************/

.container {
    margin: auto;
    width: $container-size;
}

 .contents {
    margin: 0 0 0 310px;
 }



/****************************
 * Works
 ****************************/


.all-works {
    margin: 80px 0 0 0;
}
section .title {
    width: 280px;
    padding: 0 30px 0 0;

}
section .title ul {
    float: right;
    padding: 10px 0;
    text-align: right;
    width: 100%;
}
section .title ul a {
    color: #555;
    font: normal 14px $font-stack;   
}

.title h1 {
    color: #CCC;
    font: bold $title-size $serif-stack;
    text-align: right;
    line-height: 0.9;
}
.title h2 {
    color: $secondary-color;
    font: bold 11px $font-stack;
    text-transform: uppercase;
    letter-spacing: 1px;
    float: right;
}
.portfolio-thumb {
    background: #FFF;
    border: 1px solid #CCC;
    border-top: 8px solid #333;
    display: inline-block;
    position: relative;
    margin: 0 0 10px 0;
    width: 320px;
}
.portfolio-thumb img {
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    opacity: 0.8;  
    max-width: 100%; 
}
.portfolio-thumb.android {
    border-top: 8px solid #669966; 
}
.portfolio-thumb .see-more-button {
    display: block;
    position: relative;  
}
.portfolio-thumb a:hover img {
    opacity: 1;
}
.portfolio-thumb p{
    color: $nav-color;
    font: normal 14px $font-stack;
    line-height: 1.5;
    padding: 15px;
}
.goto-details {
    background: $accent-color;
    color: #FFF;
    font: bold 12px $font-stack;
    float: right;
    padding: 7px 0;
    width: 320px;
    text-align: center;
    text-transform: uppercase;
}
.goto-details:hover {
    background: $nav-color;
}
.see-more {
    background: #000;
    color: #FFF;
    font: bold 11px $font-stack;
    text-align: center;
    position: absolute;
        bottom: 0;
    text-transform: uppercase;
    width: 100%;
    z-index: 15;
}
.more-info {
    display: none;
}
.more-info p {
    margin: 0;
}
.expanded .more-info {
    display: block;
}
.col {
    padding: 0 5px;
}
.works-links li a {
    display: block;
    padding: 5px 0;
}
.works-links li:hover a {
    color: $secondary-color;
    font-weight: bold;
}

#page-overview {
    width: 800px;
}

/***
 * Works page
 */
 .works-page {
    display: none;
    padding: 0 0 40px 0;    
 }
 .works-page h2 {
    color: $nav-color;
    font: bold 24px $serif-stack;
    padding: 20px 0;
 }
.works-title {
    margin: 20px 0;
}
 .works-title h1 {
    color: $nav-color;
    font: bold 48px $serif-stack;
    max-width: $container-size;
 }
 .works-title h2 {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    color: #666;
    font: normal 14px $font-stack;
    padding: 5px;
    margin: 10px 0;
    text-transform: uppercase;
    width: 100%;
 }
 .works-title h2 .date {
    color: $accent-color;
    font-weight: bold;
 }
 .works-page p {
    color: #666;
    font: normal 18px $font-stack;
    line-height: 1.5;
    max-width: 800px;
 }

 /* Images */
 .works-img-box, .works-img-box-half {
    border: 1px solid #CCC;
    width: 100%;
    height: 350px;
    margin: 20px 0;
    overflow: hidden;
    position: relative;
 }
 .works-img-box.left img {
    position: static;
 }
 .works-img-box img {
    position: absolute;
    top: -100%;
    left: -100%;
    right: -100%;
    bottom: -100%;
    margin: auto;
    height: 100%;
 }
 .works-img-box-half.tall img {
    width: 100%;
 }
.works-img-box-half {
    width: 375px;
    height: 300px;
}

/***
 Page nav
 */

.page-nav {
    width: 100%;
    height: 30px;
}
.page-nav a {
    color: $nav-color;
    font: bold 14px $font-stack;
}
.page-nav a:hover {
    color: $accent-color;
}
a.page-back {
    background: $nav-color;
    color: #FFF;
    border-radius: 5px;
    padding: 5px 10px;
    text-transform: uppercase;    
}
a.page-back:hover {
    background: $accent-color;
    color: #FFF;
}
.page-nav a.open-new {
    padding: 8px 0;
}


/***
 * Works thumbnail title overlay
 */

.thumb-title {
    display: none;
}
div.thumb-title {
    background: $accent-color;   
    height: 100%;
    opacity: 0.8;
    position: absolute;
        top: 0;
    width: 100%;
    z-index: 2;
}
h1.thumb-title {
    color: #FFF;
    font: bold 32px $font-stack;
    letter-spacing: -1px;
    line-height: 32px;
    position: absolute;
        bottom: 20px;
        right: 10px;
    text-transform: uppercase;
    text-align: right;
    z-index: 8;
}

/*****************************
 * Portfolio icons
 *****************************/

.portfolio-icons {
    padding: 3px;
}
.portfolio-icon {
    border: 1px solid transparent;
    color: #FFF;    
    display: inline-block;
    font: normal 11px $font-stack;
    float: left;
    padding: 1px 3px;
    // width: 35px;
    // height: 35px;
    border-radius: 5px;
    margin: 2px;
    text-transform: uppercase;
}
.icon-web {
    background: #333;
} 
.icon-web:before {
    content: "web";
}
.icon-design {
    border: 1px solid #9966CC;
    color: #9966CC;
}
.icon-design:before {
    content: "design";
}
.icon-android {
    background: #669966;
}
.icon-android:before {
    content: "android";
}
.icon-app {
    border: 1px solid #009999;
    color: #009999;
}
.icon-app:before {
    content: "app";
}

/***************************
 * Top right corner icons
 ***************************/
 .icon-open, .icon-github {
    float: right;    
    opacity: 0.6;
    padding: 0 2px;
 }
 a:hover .icon-open, a:hover .icon-github {
    opacity: 1;
}
.icon-open {
    background: url('../images/icon/add65.png');
    width: 12px;
    height: 16px;
}
.icon-github {
    background: url('../images/icon/icon-github.png') no-repeat;
    width: 16px;
    height: 16px;
}
.open-new-label {
    color: #666;
    display: none;
    font: normal 12px $font-stack;
    line-height: 22px;
}

/***************************
 * Ongoing
 ***************************/

 .ongoing-container img {
    border: 1px solid #CCC;
 }
 .ongoing-container {
    padding: 10px;    
    margin: 5px;
    width: 300px;
 }
 .ongoing-container h1 {
    font: bold 16px $font-stack;
    padding: 10px 5px;
 }
 .ongoing-container p {
    font: normal 14px $font-stack;
    padding: 5px;
 }

/*****************************
 * Footer
 *****************************/

footer {
    background: $nav-color;
    color: #FFF;    
    width: 100%;
}
footer section {
    float: left;
    width: 300px;
    padding: 20px;
}
footer h1 {
    font: bold 18px $font-stack;
    text-transform: uppercase;
    margin: 10px 0 20px 0;
}
footer p, footer a {
    font: normal 14px $font-stack;
}
footer a {
    color: $secondary-color;
    font-weight: bold;
}
.social-link img {
    width: 36px;
    height: 36px;
    padding: 0 10px 0 0;
}
.attr, .attr a {
    font: normal 12px $font-stack;
}

/*****************************
 * Utility
 *****************************/

.hidetext {
    opacity: 0;
}

.fl {
    float: left;
}
.fr {
    float: right;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
