
$font-size: 14pt;
$accent-color: #f76e50;
$secondary-color: #f38647;
$logo-color: #EEE; /*#ced7a4;*/
$background-color: #FFF; /*#f0e4c9;*/
$default_brand_size: 400px;
$default_logo_size: 500px;
$padding: 20px;

$title-size: 48px;

$font-stack: Helvetica, sans-serif;
$serif-stack: "Libre Baskerville", "Times New Roman", sans-serif;

@import 'vendor/meyer-reset';

html, body {
    font: normal $font-size $font-stack;
    width: 100%;
    height: 100%;
}

p, a {
    font: normal 16px $serif-stack;
    line-height: 1.5;
}
a {
    text-decoration: none;
}

/** 
 * Header / first panel 
 *************************/
header {
    background: $accent-color;
    color: #FFF;  
    height: 500px;
    position: relative;
    z-index: -1;
}
header .block {
    float: left;
    height: 100%;
}
header .brand {
    background: $logo-color;
    width: $default_brand_size;
    overflow: hidden;
}
.brand img {
    width: $default_logo_size;
    max-height: 650px;
    position: absolute;
}
header .intro {
    height: 100%;
    width: 100%;
    position: absolute;
}
.intro-text {
    background: $accent-color;
    border-top: 10px solid $secondary-color;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1) inset;    
    margin: 0 0 0 $default_brand_size;  
    padding: 80px;
    height: 330px;
}
.intro-text p {
    padding: 20px 100px 0 60px;
    font-size: 20px;
    max-width: 1000px;
}
// .intro-text h1 {
//     font: bold 18px $serif-stack;
//     text-transform: uppercase;
// }
.intro-text h2 {
    padding: 0 0 5% 0;
}
header h2 {
    font: normal 150% $serif-stack;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/****************************
 * Navigation
 ****************************/
nav {
    float: right;
}
nav.fixed {
    position: fixed;
        top: 0;
        right: 0;
}
nav li {
    float: left;
    padding: 10px 20px;
}

/****************************
 * Body
 ****************************/

.container {
    height: 1000px;
}

/****************************
 * Works
 ****************************/
section {
    padding: 60px 0;
    width: 100%;
}
section .title {
    width: 400px;
}
section .title ul {
    float: right;
    padding: 10px 0;
    text-align: right;
    width: 100%;
}
section .title ul a {
    color: #555;
    font: normal 14px $font-stack;   
}

section h1 {
    color: #CCC;
    font: bold $title-size $serif-stack;
    text-align: right;
    line-height: 0.9;
}
section h2 {
    color: $secondary-color;
    font: bold 11px $font-stack;
    text-transform: uppercase;
    letter-spacing: 1px;
    float: right;
}
.portfolio-gallery {
    margin-left: 400px;
    padding: 0 0 0 40px;
}
.portfolio-thumb {
    background: #FFF;
    border: 1px solid #CCC;
    border-top: 8px solid #333;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    margin: 0 0 10px 0;
    width: 320px;
}
.portfolio-thumb img {
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}
.portfolio-thumb.android {
    border-top: 8px solid #669966; 
}
.portfolio-thumb a {
    opacity: 0.8;    
}
.portfolio-thumb a:hover {
    opacity: 1
}
.portfolio-thumb p{
    color: #666;
    font: normal 14px $font-stack;
    padding: 5px 10px;
}
.see-more {
    background: #000;
    color: #FFF;
    font: bold 11px $font-stack;
    opacity: 0.7;
    text-align: center;
    position: absolute;
        bottom: 0;
    text-transform: uppercase;
    width: 100%;
}
.more-info {
    display: none;
}
.expanded .more-info {
    display: block;
}
.col {
    padding: 0 5px;
}
.works-links li a {
    display: block;
    padding: 5px 0;
}
.works-links li:hover a {
    color: $secondary-color;
    font-weight: bold;
}

/*****************************
 * Portfolio icons
 *****************************/

.portfolio-icon {
    border: 1px solid transparent;
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 35px;
    margin: 2px;
}
.icon-web {
    background: #333;
} 
.icon-design {
    border: 1px solid #9966CC;
}
.icon-android {
    background: #669966;
}

/*****************************
 * Utility
 *****************************/

.fl {
    float: left;
}
.fr {
    float: right;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

@media (max-width: 1120px) {
    header {
        height: 300px;
    }
    header .brand {
        width: 200px;
    }
    .brand img {
        width: 300px;
    }
    .intro-text {
        margin: 0 0 0 200px;
        padding: 20px 40px 0 40px;
        height: 270px;
    }
    .intro-text h2 {
        padding: 0 0 0 0;        
    }
    .intro-text p {
        font-size: 14px;
        padding: 20px 0 0 40px;        
    }
}