---
title: Home
heading: 'Yo, Assemble!'
lead: Welcome to my blog!
intro_text: I am a front-end developer and designer
skills_heading: Here's what I can do
skills: 
    - {skill: UX, img: assets/images/icon/icon-ux.png}
    - skill: test
    - skill: test

---
<div id="home-panel">
    <div class="container">
        <h1>{{ intro_text }}</h1>
        <div id="featured-skills" class="row">
            <h2 class="col-xs-12">Here's what I can do</h2>
          {{#each skills}}
            <div class="skill-box col-xs-4">
                <img src="{{img}}" alt="{{skill}}">
                {{ skill }}
            
            </div>
          {{/each}}
        </div>
    </div>
</div>
<div id="content" class="container">
    {{> all-projects }}

    {{> ongoing-projects }}
</div>