

// Colors
$navy:      #1C313E;
$orange:    #E9685A;
$cream:     #FFEAAD;
$red:       #D14334;
$dark-red:  #AD2719;
$white:     #FFFFFF;
$black:     #1C2130;
$gray:      #666;
$light-gray:      #CCC;
$teal:      #028F76;
$lime:      #B3E099;

// General Page
$page-offset: 85px;


// Functions
$headline-weight:   bold;
$paragraph-weight:  normal;
$fonts-headline:    "franklin-gothic-urw-cond", Helvetica, sans-serif;
$fonts-paragraph:   "franklin-gothic-urw-cond", Helvetica, Arial, sans-serif;

@function displayFont($size) {
    @return $headline-weight $size $fonts-headline;
}
@function paragraphFont($size : 1em) {
    @return $paragraph-weight $size $fonts-paragraph;
}